/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-4d39689c] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-4d39689c] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-4d39689c]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-4d39689c]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-4d39689c]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-4d39689c]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-4d39689c] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-4d39689c] {
  pointer-events: none;
}
#nprogress .bar[data-v-4d39689c] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-4d39689c] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-4d39689c] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-4d39689c] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-4d39689c 400ms linear infinite;
  animation: nprogress-spinner-4d39689c 400ms linear infinite;
}
.nprogress-custom-parent[data-v-4d39689c] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-4d39689c],
.nprogress-custom-parent #nprogress .bar[data-v-4d39689c] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-4d39689c {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-4d39689c {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
.toggle-card[data-v-4d39689c] {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.toggle-card[data-v-4d39689c]:hover {
  opacity: 0.3;
}
.shadow-card[data-v-4d39689c] {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.shadow-card[data-v-4d39689c]:hover {
  -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.05));
}
.provide[data-v-4d39689c] {
  z-index: 1;
  font-size: 8px;
  line-height: 14px;
  padding: 1px 4px 1px 2px;
  background-color: rgba(240, 240, 240, 0.8);
  color: #aaa;
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
}
.provide[data-v-4d39689c]::before {
  height: 0;
  width: 0;
  content: "";
  border-style: solid;
  position: absolute;
  margin-left: -8px;
  margin-top: 0px;
  border-width: 7.5px 3px;
  border-color: transparent rgba(240, 240, 240, 0.8) rgba(240, 240, 240, 0.8) transparent;
}
.card-content[data-v-4d39689c] {
  background-color: transparent;
}
.ant-card[data-v-4d39689c]:hover .provide {
  opacity: 0 !important;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-7025c042] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-7025c042] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-7025c042]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-7025c042]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-7025c042]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-7025c042]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-7025c042] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-7025c042] {
  pointer-events: none;
}
#nprogress .bar[data-v-7025c042] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-7025c042] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-7025c042] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-7025c042] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-7025c042 400ms linear infinite;
  animation: nprogress-spinner-7025c042 400ms linear infinite;
}
.nprogress-custom-parent[data-v-7025c042] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-7025c042],
.nprogress-custom-parent #nprogress .bar[data-v-7025c042] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-7025c042 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-7025c042 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
.auto-card[data-v-7025c042] {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.layout-selector[data-v-7025c042] {
  border-right: 1px dashed #dddddd;
  border-radius: 0px;
  padding: 8px;
  cursor: pointer;
  text-align: center;
}
.layout-selector.highlight[data-v-7025c042] {
  border: 0px solid #00adef;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 6px 6px rgba(0, 173, 239, 0.3);
          box-shadow: 0 0 6px 6px rgba(0, 173, 239, 0.3);
}
.layout-body[data-v-7025c042] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 100%;
}
.layout-grid[data-v-7025c042] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 5px;
}
.layout-item[data-v-7025c042] {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #00adef;
  opacity: 0.3;
}
.layout-grid.highlight .layout-item[data-v-7025c042] {
  background-color: orange;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-44491d74] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-44491d74] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-44491d74]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-44491d74]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-44491d74]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-44491d74]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-44491d74] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-44491d74] {
  pointer-events: none;
}
#nprogress .bar[data-v-44491d74] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-44491d74] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-44491d74] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-44491d74] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-44491d74 400ms linear infinite;
  animation: nprogress-spinner-44491d74 400ms linear infinite;
}
.nprogress-custom-parent[data-v-44491d74] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-44491d74],
.nprogress-custom-parent #nprogress .bar[data-v-44491d74] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-44491d74 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-44491d74 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
.slider-dot[data-v-44491d74] .ant-slider-dot {
  border-radius: 2px;
  width: 12px;
  height: 12px;
  top: -5px;
}
.slider-dot[data-v-44491d74] .ant-slider-handle {
  border-radius: 2px;
  width: 12px;
  height: 12px;
  background: #00a2e6;
  margin-left: 2px;
}
.slider-dot[data-v-44491d74] .ant-slider-rail {
  height: 12px;
  top: -1px;
}
.slider-dot[data-v-44491d74] .ant-slider-mark-text {
  min-width: 50px;
}
.log-filter-title[data-v-44491d74] {
  position: relative;
  top: -4px;
  margin-right: 10px;
}
.FieldTimeOutlined[data-v-44491d74] {
  position: relative;
  left: -15px;
  top: 5px;
  font-size: 30px;
  color: #00a2e6;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-e7aef960] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-e7aef960] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-e7aef960]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-e7aef960]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-e7aef960]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-e7aef960]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-e7aef960] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-e7aef960] {
  pointer-events: none;
}
#nprogress .bar[data-v-e7aef960] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-e7aef960] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-e7aef960] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-e7aef960] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-e7aef960 400ms linear infinite;
  animation: nprogress-spinner-e7aef960 400ms linear infinite;
}
.nprogress-custom-parent[data-v-e7aef960] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-e7aef960],
.nprogress-custom-parent #nprogress .bar[data-v-e7aef960] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-e7aef960 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-e7aef960 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
.card-avatar[data-v-e7aef960] {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}
.new-btn[data-v-e7aef960] {
  border-radius: 2px;
  width: 100%;
  height: 187px;
}
.meta-content[data-v-e7aef960] {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.info-circle[data-v-e7aef960] {
  position: absolute;
  right: 5px;
  top: 20px;
}
.svg[data-v-e7aef960] {
  width: 50px;
  height: 50px;
  fill: #00adef;
  border-radius: 0;
}
.auto-card[data-v-e7aef960] {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 0 15px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0 15px 5px rgba(0, 0, 0, 0.05);
}
.select-svg[data-v-e7aef960] {
  width: 20px;
  height: 20px;
  fill: #00adef;
  border-radius: 0;
  position: relative;
  top: 4px;
}
.preview-card[data-v-e7aef960] .ant-tabs-nav {
  background-color: #fff;
}
.preview-card[data-v-e7aef960] {
  height: 100%;
}
.preview-card[data-v-e7aef960] .ant-card-body {
  padding: 0;
}
.preview-card[data-v-e7aef960] .ant-tabs-nav {
  margin: 0;
  padding: 0 0px 0 15px;
}
.preview-card.left[data-v-e7aef960] {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 0 15px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0 15px 5px rgba(0, 0, 0, 0.05);
}
.buttonGroup[data-v-e7aef960] {
  background-color: #fafafa;
}
.buttonGroup[data-v-e7aef960] .ant-btn {
  height: 46px;
  border-radius: 0;
  border-width: 0;
}
.header-fullscreen.normal[data-v-e7aef960] {
  top: -30px;
  right: 35px;
  z-index: 11;
  background-color: #fff;
  opacity: 0.9;
  color: #00adef;
}

