/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-21a71ec4] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-21a71ec4] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-21a71ec4]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-21a71ec4]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-21a71ec4]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-21a71ec4]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-21a71ec4] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-21a71ec4] {
  pointer-events: none;
}
#nprogress .bar[data-v-21a71ec4] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-21a71ec4] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-21a71ec4] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-21a71ec4] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-21a71ec4 400ms linear infinite;
  animation: nprogress-spinner-21a71ec4 400ms linear infinite;
}
.nprogress-custom-parent[data-v-21a71ec4] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-21a71ec4],
.nprogress-custom-parent #nprogress .bar[data-v-21a71ec4] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-21a71ec4 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-21a71ec4 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
.permission-card[data-v-21a71ec4] {
  width: 20%;
  height: 43px;
  text-align: center;
  background-color: #fafafa;
}
.permission-card-body[data-v-21a71ec4] {
  display: block;
  text-align: left;
  line-height: 40px;
  font-weight: bold;
  padding-left: 20px;
  background-color: #fafafa;
}
.permission-card-resource[data-v-21a71ec4] {
  line-height: 32px;
  background-color: #fafafa;
  text-align: center;
}
.permission-card-action[data-v-21a71ec4] {
  text-align: center;
  line-height: 30px;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-0b15ce21] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-0b15ce21] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-0b15ce21]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-0b15ce21]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-0b15ce21]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-0b15ce21]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-0b15ce21] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-0b15ce21] {
  pointer-events: none;
}
#nprogress .bar[data-v-0b15ce21] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-0b15ce21] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-0b15ce21] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-0b15ce21] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-0b15ce21 400ms linear infinite;
  animation: nprogress-spinner-0b15ce21 400ms linear infinite;
}
.nprogress-custom-parent[data-v-0b15ce21] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-0b15ce21],
.nprogress-custom-parent #nprogress .bar[data-v-0b15ce21] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-0b15ce21 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-0b15ce21 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
.card-avatar[data-v-0b15ce21] {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}
.new-btn[data-v-0b15ce21] {
  border-radius: 2px;
  width: 100%;
  height: 187px;
}
.meta-content[data-v-0b15ce21] {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 64px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
[data-v-0b15ce21] .ant-divider-dashed::before,[data-v-0b15ce21] .ant-divider-dashed::after {
  border-color: #ccc !important;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-08969294] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-08969294] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-08969294]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-08969294]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-08969294]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-08969294]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-08969294] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-08969294] {
  pointer-events: none;
}
#nprogress .bar[data-v-08969294] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-08969294] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-08969294] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-08969294] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-08969294 400ms linear infinite;
  animation: nprogress-spinner-08969294 400ms linear infinite;
}
.nprogress-custom-parent[data-v-08969294] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-08969294],
.nprogress-custom-parent #nprogress .bar[data-v-08969294] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-08969294 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-08969294 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
[data-v-08969294] .page-header {
  padding-bottom: 0;
}
.search-content .content[data-v-08969294] {
  zoom: 1;
  margin-top: 16px;
}
.search-content .content[data-v-08969294]:before,
.search-content .content[data-v-08969294]:after {
  content: " ";
  display: table;
}
.search-content .content[data-v-08969294]:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.search-content .content > div[data-v-08969294] {
  position: relative;
  text-align: left;
  float: left;
  width: 33%;
}
.search-content .content > div p[data-v-08969294] {
  line-height: 32px;
  font-size: 24px;
  text-align: center;
  margin: 0;
}
.search-content .content > div p[data-v-08969294]:first-child {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 4px;
}
.mini-linedata[data-v-08969294] {
  border-bottom: 1px dashed #ddd;
  padding-bottom: 15px;
  position: relative;
}
.mini-linedata .close[data-v-08969294] {
  position: absolute;
  right: 0px;
  color: #ddd;
  top: 5px;
  display: none;
  cursor: pointer;
}
.mini-linedata:hover .close[data-v-08969294] {
  display: block;
}
.result-content[data-v-08969294] {
  position: absolute;
  z-index: 10;
}
.click-icon[data-v-08969294] {
  position: absolute;
  right: 15px;
}
.ApiOutlined[data-v-08969294] {
  font-size: 14px;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-1e49c432] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-1e49c432] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-1e49c432]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-1e49c432]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-1e49c432]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-1e49c432]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-1e49c432] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-1e49c432] {
  pointer-events: none;
}
#nprogress .bar[data-v-1e49c432] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-1e49c432] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-1e49c432] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-1e49c432] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-1e49c432 400ms linear infinite;
  animation: nprogress-spinner-1e49c432 400ms linear infinite;
}
.nprogress-custom-parent[data-v-1e49c432] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-1e49c432],
.nprogress-custom-parent #nprogress .bar[data-v-1e49c432] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-1e49c432 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-1e49c432 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
[data-v-1e49c432] .page-header {
  padding-bottom: 0;
}
.search-content .content[data-v-1e49c432] {
  zoom: 1;
  margin-top: 16px;
}
.search-content .content[data-v-1e49c432]:before,
.search-content .content[data-v-1e49c432]:after {
  content: " ";
  display: table;
}
.search-content .content[data-v-1e49c432]:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.search-content .content > div[data-v-1e49c432] {
  position: relative;
  text-align: left;
  float: left;
  width: 50%;
}
.search-content .content > div p[data-v-1e49c432] {
  line-height: 32px;
  font-size: 24px;
  text-align: center;
  margin: 0;
}
.search-content .content > div p[data-v-1e49c432]:first-child {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 4px;
}
.CodeSandboxOutlined[data-v-1e49c432] {
  font-size: 20px;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-2057c1d0] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-2057c1d0] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-2057c1d0]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-2057c1d0]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-2057c1d0]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-2057c1d0]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-2057c1d0] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-2057c1d0] {
  pointer-events: none;
}
#nprogress .bar[data-v-2057c1d0] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-2057c1d0] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-2057c1d0] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-2057c1d0] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-2057c1d0 400ms linear infinite;
  animation: nprogress-spinner-2057c1d0 400ms linear infinite;
}
.nprogress-custom-parent[data-v-2057c1d0] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-2057c1d0],
.nprogress-custom-parent #nprogress .bar[data-v-2057c1d0] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-2057c1d0 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-2057c1d0 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
.meta-content[data-v-2057c1d0] {
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

