/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-01b69977] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-01b69977] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-01b69977]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-01b69977]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-01b69977]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-01b69977]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-01b69977] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-01b69977] {
  pointer-events: none;
}
#nprogress .bar[data-v-01b69977] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-01b69977] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-01b69977] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-01b69977] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-01b69977 400ms linear infinite;
  animation: nprogress-spinner-01b69977 400ms linear infinite;
}
.nprogress-custom-parent[data-v-01b69977] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-01b69977],
.nprogress-custom-parent #nprogress .bar[data-v-01b69977] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-01b69977 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-01b69977 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
.waterfall[data-v-01b69977] {
  height: 40px;
  pointer-events: none;
  margin: 2px 0 0 0 !important;
  padding: 0;
}
[data-v-01b69977] .ant-slider-dot {
  border-radius: 2px;
  width: 8px;
  height: 40px;
  margin-top: 1px;
}
[data-v-01b69977] .ant-slider-handle {
  border-radius: 10px;
  width: 8px;
  height: 40px;
  background: #00adef;
  margin-top: -1px;
}
[data-v-01b69977] .ant-slider-rail {
  height: 40px;
  top: -1px;
}
[data-v-01b69977] .ant-slider-track {
  height: 40px;
  top: -1px;
}
[data-v-01b69977] .ant-slider-mark .ant-slider-mark-text:first-child {
  top: -15px;
  -webkit-transform: translateX(-10%) !important;
          transform: translateX(-10%) !important;
  font-size: 8pt;
  color: #0099d4;
  margin-left: 10px;
}
[data-v-01b69977] .ant-slider-mark .ant-slider-mark-text:last-child {
  -webkit-transform: translateX(-90%) !important;
          transform: translateX(-90%) !important;
  top: 5px;
  margin-left: -10px;
  font-size: 8pt;
  color: #0099d4;
}
.network-card-header[data-v-01b69977] {
  padding: 20px 20px 10px;
  opacity: 0.6;
}
.network-card-body[data-v-01b69977] {
  position: relative;
  min-height: 600px;
}
.waterfall-panel[data-v-01b69977] {
  margin: -16px;
}

