/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-44491d74] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-44491d74] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-44491d74]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-44491d74]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-44491d74]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-44491d74]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-44491d74] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-44491d74] {
  pointer-events: none;
}
#nprogress .bar[data-v-44491d74] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-44491d74] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-44491d74] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-44491d74] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-44491d74 400ms linear infinite;
  animation: nprogress-spinner-44491d74 400ms linear infinite;
}
.nprogress-custom-parent[data-v-44491d74] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-44491d74],
.nprogress-custom-parent #nprogress .bar[data-v-44491d74] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-44491d74 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-44491d74 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
.slider-dot[data-v-44491d74] .ant-slider-dot {
  border-radius: 2px;
  width: 12px;
  height: 12px;
  top: -5px;
}
.slider-dot[data-v-44491d74] .ant-slider-handle {
  border-radius: 2px;
  width: 12px;
  height: 12px;
  background: #00a2e6;
  margin-left: 2px;
}
.slider-dot[data-v-44491d74] .ant-slider-rail {
  height: 12px;
  top: -1px;
}
.slider-dot[data-v-44491d74] .ant-slider-mark-text {
  min-width: 50px;
}
.log-filter-title[data-v-44491d74] {
  position: relative;
  top: -4px;
  margin-right: 10px;
}
.FieldTimeOutlined[data-v-44491d74] {
  position: relative;
  left: -15px;
  top: 5px;
  font-size: 30px;
  color: #00a2e6;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-d9c6c386] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-d9c6c386] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-d9c6c386]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-d9c6c386]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-d9c6c386]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-d9c6c386]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-d9c6c386] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-d9c6c386] {
  pointer-events: none;
}
#nprogress .bar[data-v-d9c6c386] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-d9c6c386] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-d9c6c386] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-d9c6c386] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-d9c6c386 400ms linear infinite;
  animation: nprogress-spinner-d9c6c386 400ms linear infinite;
}
.nprogress-custom-parent[data-v-d9c6c386] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-d9c6c386],
.nprogress-custom-parent #nprogress .bar[data-v-d9c6c386] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-d9c6c386 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-d9c6c386 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
h3[data-v-d9c6c386] {
  margin: 40px 0 0;
}
ul[data-v-d9c6c386] {
  list-style-type: none;
  padding: 0;
}
li[data-v-d9c6c386] {
  display: inline-block;
  margin: 0 10px;
}
a[data-v-d9c6c386] {
  color: #42b983;
}
.iconfont-btn-group[data-v-d9c6c386] {
  background-color: #fff;
  border: 0px solid #00a2e6;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1000;
}
.iconfont-btn-group[data-v-d9c6c386] :not(:first-child) {
  border-left: 1px dashed #ddd;
}
.iconfont-btn[data-v-d9c6c386] {
  padding: 2px 10px 0 10px;
  line-height: 36px;
  color: #bbbbbb;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
}
.iconfont-btn.active[data-v-d9c6c386] {
  color: #00a2e6;
}
.result[data-v-d9c6c386] {
  top: 80px;
}
.topology-main[data-v-d9c6c386] {
  height: calc(100vh - 200px);
  width: calc(100vw - 450px);
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-0c052188] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-0c052188] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-0c052188]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-0c052188]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-0c052188]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-0c052188]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-0c052188] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-0c052188] {
  pointer-events: none;
}
#nprogress .bar[data-v-0c052188] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-0c052188] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-0c052188] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-0c052188] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-0c052188 400ms linear infinite;
  animation: nprogress-spinner-0c052188 400ms linear infinite;
}
.nprogress-custom-parent[data-v-0c052188] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-0c052188],
.nprogress-custom-parent #nprogress .bar[data-v-0c052188] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-0c052188 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-0c052188 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
h3[data-v-0c052188] {
  margin: 40px 0 0;
}
ul[data-v-0c052188] {
  list-style-type: none;
  padding: 0;
}
li[data-v-0c052188] {
  display: inline-block;
}
a[data-v-0c052188] {
  color: #42b983;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-373258ca] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-373258ca] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-373258ca]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-373258ca]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-373258ca]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-373258ca]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-373258ca] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-373258ca] {
  pointer-events: none;
}
#nprogress .bar[data-v-373258ca] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-373258ca] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-373258ca] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-373258ca] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-373258ca 400ms linear infinite;
  animation: nprogress-spinner-373258ca 400ms linear infinite;
}
.nprogress-custom-parent[data-v-373258ca] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-373258ca],
.nprogress-custom-parent #nprogress .bar[data-v-373258ca] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-373258ca {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-373258ca {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
h3[data-v-373258ca] {
  margin: 40px 0 0;
}
ul[data-v-373258ca] {
  list-style-type: none;
  padding: 0;
}
li[data-v-373258ca] {
  display: inline-block;
}
a[data-v-373258ca] {
  color: #42b983;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-4bc36717] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-4bc36717] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-4bc36717]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-4bc36717]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-4bc36717]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-4bc36717]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-4bc36717] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-4bc36717] {
  pointer-events: none;
}
#nprogress .bar[data-v-4bc36717] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-4bc36717] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-4bc36717] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-4bc36717] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-4bc36717 400ms linear infinite;
  animation: nprogress-spinner-4bc36717 400ms linear infinite;
}
.nprogress-custom-parent[data-v-4bc36717] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-4bc36717],
.nprogress-custom-parent #nprogress .bar[data-v-4bc36717] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-4bc36717 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-4bc36717 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
h3[data-v-4bc36717] {
  margin: 40px 0 0;
}
ul[data-v-4bc36717] {
  list-style-type: none;
  padding: 0;
}
li[data-v-4bc36717] {
  display: inline-block;
}
a[data-v-4bc36717] {
  color: #42b983;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-2de345c9] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-2de345c9] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-2de345c9]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-2de345c9]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-2de345c9]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-2de345c9]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-2de345c9] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-2de345c9] {
  pointer-events: none;
}
#nprogress .bar[data-v-2de345c9] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-2de345c9] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-2de345c9] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-2de345c9] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-2de345c9 400ms linear infinite;
  animation: nprogress-spinner-2de345c9 400ms linear infinite;
}
.nprogress-custom-parent[data-v-2de345c9] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-2de345c9],
.nprogress-custom-parent #nprogress .bar[data-v-2de345c9] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-2de345c9 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-2de345c9 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
h3[data-v-2de345c9] {
  margin: 40px 0 0;
}
ul[data-v-2de345c9] {
  list-style-type: none;
  padding: 0;
}
li[data-v-2de345c9] {
  display: inline-block;
}
a[data-v-2de345c9] {
  color: #42b983;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-7f39997f] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-7f39997f] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-7f39997f]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-7f39997f]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-7f39997f]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-7f39997f]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-7f39997f] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-7f39997f] {
  pointer-events: none;
}
#nprogress .bar[data-v-7f39997f] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-7f39997f] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-7f39997f] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-7f39997f] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-7f39997f 400ms linear infinite;
  animation: nprogress-spinner-7f39997f 400ms linear infinite;
}
.nprogress-custom-parent[data-v-7f39997f] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-7f39997f],
.nprogress-custom-parent #nprogress .bar[data-v-7f39997f] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-7f39997f {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-7f39997f {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
h3[data-v-7f39997f] {
  margin: 40px 0 0;
}
ul[data-v-7f39997f] {
  list-style-type: none;
  padding: 0;
}
li[data-v-7f39997f] {
  display: inline-block;
}
a[data-v-7f39997f] {
  color: #42b983;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-8d4490b0] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-8d4490b0] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-8d4490b0]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-8d4490b0]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-8d4490b0]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-8d4490b0]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-8d4490b0] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-8d4490b0] {
  pointer-events: none;
}
#nprogress .bar[data-v-8d4490b0] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-8d4490b0] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-8d4490b0] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-8d4490b0] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-8d4490b0 400ms linear infinite;
  animation: nprogress-spinner-8d4490b0 400ms linear infinite;
}
.nprogress-custom-parent[data-v-8d4490b0] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-8d4490b0],
.nprogress-custom-parent #nprogress .bar[data-v-8d4490b0] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-8d4490b0 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-8d4490b0 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
#components-slider-demo-mark[data-v-8d4490b0] {
  position: absolute;
  right: 40px;
  top: 2px;
  width: 500px;
}
#components-slider-demo-mark h4[data-v-8d4490b0] {
  margin: 0 0 16px;
}
#components-slider-demo-mark .ant-slider-with-marks[data-v-8d4490b0] {
  margin-bottom: 44px;
}
h3[data-v-8d4490b0] {
  margin: 40px 0 0;
}
ul[data-v-8d4490b0] {
  list-style-type: none;
  padding: 0;
}
li[data-v-8d4490b0] {
  display: inline-block;
  margin: 0 10px;
}
.ant-page-header[data-v-8d4490b0] {
  padding-bottom: 0;
}
.slider-dot[data-v-8d4490b0] .ant-slider-dot {
  border-radius: 2px;
  width: 12px;
  height: 12px;
  top: -5px;
}
.slider-dot[data-v-8d4490b0] .ant-slider-handle {
  border-radius: 2px;
  width: 12px;
  height: 12px;
  background: #00a2e6;
  margin-left: 2px;
}
.slider-dot[data-v-8d4490b0] .ant-slider-rail {
  height: 12px;
  top: -1px;
}
.slider-dot[data-v-8d4490b0] .ant-slider-mark-text {
  min-width: 50px;
}
.setting[data-v-8d4490b0] {
  position: relative;
  left: -15px;
  top: 5px;
  font-size: 30px;
  color: #00a2e6;
}
.scrollbar-div[data-v-8d4490b0] {
  width: 400px;
  border-left: 1px solid #ebedf0;
}
.topology-warpper[data-v-8d4490b0] {
  height: calc(100vh - 190px);
  overflow: hidden;
}

