/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-30bb0bbf] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-30bb0bbf] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-30bb0bbf]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-30bb0bbf]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-30bb0bbf]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-30bb0bbf]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-30bb0bbf] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-30bb0bbf] {
  pointer-events: none;
}
#nprogress .bar[data-v-30bb0bbf] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-30bb0bbf] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-30bb0bbf] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-30bb0bbf] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-30bb0bbf 400ms linear infinite;
  animation: nprogress-spinner-30bb0bbf 400ms linear infinite;
}
.nprogress-custom-parent[data-v-30bb0bbf] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-30bb0bbf],
.nprogress-custom-parent #nprogress .bar[data-v-30bb0bbf] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-30bb0bbf {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-30bb0bbf {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
.selector-item[data-v-30bb0bbf]:hover {
  font-weight: bold;
  border-left: 2px solid #00adef;
}
.selector-item.disabled[data-v-30bb0bbf] {
  pointer-events: none;
  cursor: no-drop;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.selector-item[data-v-30bb0bbf] {
  cursor: pointer;
  text-align: center;
  position: relative;
}
.card-avatar[data-v-30bb0bbf] {
  width: 40px;
  height: 40px;
  fill: #00adef;
  border-radius: 0;
}
.card-selector-title[data-v-30bb0bbf] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 10px;
}
.CheckOutlined[data-v-30bb0bbf] {
  color: #25b899;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-00006846] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-00006846] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-00006846]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-00006846]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-00006846]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-00006846]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-00006846] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-00006846] {
  pointer-events: none;
}
#nprogress .bar[data-v-00006846] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-00006846] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-00006846] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-00006846] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-00006846 400ms linear infinite;
  animation: nprogress-spinner-00006846 400ms linear infinite;
}
.nprogress-custom-parent[data-v-00006846] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-00006846],
.nprogress-custom-parent #nprogress .bar[data-v-00006846] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-00006846 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-00006846 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
.head-info[data-v-00006846] {
  text-align: center;
  padding: 0 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: center;
      align-self: center;
}
.head-info span[data-v-00006846] {
  color: rgba(0, 0, 0, 0.45);
  display: inline-block;
  font-size: 14px;
  margin-bottom: 4px;
}
.head-info p[data-v-00006846] {
  color: rgba(0, 0, 0, 0.65);
  font-size: 24px;
  margin: 0;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
.task-group {
  width: 100%;
  padding: 8px 8px;
  border-radius: 0px;
}
.task-group .task-head {
  margin-bottom: 8px;
}
.task-group .task-head .title {
  display: inline-block;
}
.task-group .task-head .title span {
  display: inline-block;
  border-radius: 10px;
  margin: 0 8px;
  font-size: 12px;
  padding: 2px 6px;
  background-color: #e6fcff;
  color: #00adef;
}
.task-group .task-head .actions {
  display: inline-block;
  float: right;
  font-size: 18px;
  font-weight: bold;
}
.task-group .task-head .actions i {
  cursor: pointer;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-21a71ec4] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-21a71ec4] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-21a71ec4]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-21a71ec4]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-21a71ec4]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-21a71ec4]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-21a71ec4] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-21a71ec4] {
  pointer-events: none;
}
#nprogress .bar[data-v-21a71ec4] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-21a71ec4] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-21a71ec4] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-21a71ec4] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-21a71ec4 400ms linear infinite;
  animation: nprogress-spinner-21a71ec4 400ms linear infinite;
}
.nprogress-custom-parent[data-v-21a71ec4] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-21a71ec4],
.nprogress-custom-parent #nprogress .bar[data-v-21a71ec4] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-21a71ec4 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-21a71ec4 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
.permission-card[data-v-21a71ec4] {
  width: 20%;
  height: 43px;
  text-align: center;
  background-color: #fafafa;
}
.permission-card-body[data-v-21a71ec4] {
  display: block;
  text-align: left;
  line-height: 40px;
  font-weight: bold;
  padding-left: 20px;
  background-color: #fafafa;
}
.permission-card-resource[data-v-21a71ec4] {
  line-height: 32px;
  background-color: #fafafa;
  text-align: center;
}
.permission-card-action[data-v-21a71ec4] {
  text-align: center;
  line-height: 30px;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-be2324e4] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-be2324e4] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-be2324e4]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-be2324e4]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-be2324e4]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-be2324e4]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-be2324e4] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-be2324e4] {
  pointer-events: none;
}
#nprogress .bar[data-v-be2324e4] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-be2324e4] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-be2324e4] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-be2324e4] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-be2324e4 400ms linear infinite;
  animation: nprogress-spinner-be2324e4 400ms linear infinite;
}
.nprogress-custom-parent[data-v-be2324e4] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-be2324e4],
.nprogress-custom-parent #nprogress .bar[data-v-be2324e4] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-be2324e4 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-be2324e4 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
.card-avatar[data-v-be2324e4] {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}
.new-btn[data-v-be2324e4] {
  border-radius: 2px;
  width: 100%;
  height: 187px;
}
.meta-content[data-v-be2324e4] {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 64px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
[data-v-be2324e4] .ant-divider-dashed::before,[data-v-be2324e4] .ant-divider-dashed::after {
  border-color: #ccc !important;
}
.userline[data-v-be2324e4] {
  position: relative;
  border: 1px dashed #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px 10px;
}
.userline .title[data-v-be2324e4] {
  padding-left: 15px;
  font-size: 16px;
  line-height: 40px;
}
.userline .rightSpan[data-v-be2324e4] {
  top: 18px;
  position: absolute;
  right: 20px;
}
.userline .rightIcon[data-v-be2324e4] {
  cursor: pointer;
  color: #00adef;
  font-size: 18px;
}
.userline[data-v-be2324e4]:hover {
  border: 1px dashed #00adef;
}
.userline .usericon[data-v-be2324e4] {
  position: relative;
  top: -2px;
  width: 40px;
  vertical-align: middle;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  line-height: 40px;
  font-size: 26px;
  background-color: #e6fcff;
  text-align: center;
}
.dragable-ghost[data-v-be2324e4] {
  border: 1px dashed red;
  opacity: 1;
}
.dragable-chose[data-v-be2324e4] {
  border: 1px dashed red;
  opacity: 0.8;
}
.dragable-drag[data-v-be2324e4] {
  border: 1px dashed red;
  opacity: 1;
}
.id-card[data-v-be2324e4] {
  position: relative;
  top: -5px;
  margin-left: 10px;
}
.IdcardTwoTone[data-v-be2324e4] {
  padding-top: 1px;
  line-height: 35px;
}
.role-name[data-v-be2324e4] {
  position: relative;
  top: -5px;
  margin-left: 10px;
}
.service-type[data-v-be2324e4] {
  padding: 10px 5px;
}

