/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-00006846] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-00006846] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-00006846]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-00006846]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-00006846]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-00006846]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-00006846] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-00006846] {
  pointer-events: none;
}
#nprogress .bar[data-v-00006846] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-00006846] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-00006846] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-00006846] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-00006846 400ms linear infinite;
  animation: nprogress-spinner-00006846 400ms linear infinite;
}
.nprogress-custom-parent[data-v-00006846] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-00006846],
.nprogress-custom-parent #nprogress .bar[data-v-00006846] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-00006846 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-00006846 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
.head-info[data-v-00006846] {
  text-align: center;
  padding: 0 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: center;
      align-self: center;
}
.head-info span[data-v-00006846] {
  color: rgba(0, 0, 0, 0.45);
  display: inline-block;
  font-size: 14px;
  margin-bottom: 4px;
}
.head-info p[data-v-00006846] {
  color: rgba(0, 0, 0, 0.65);
  font-size: 24px;
  margin: 0;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-6a8f29bb] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-6a8f29bb] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-6a8f29bb]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-6a8f29bb]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-6a8f29bb]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-6a8f29bb]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-6a8f29bb] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-6a8f29bb] {
  pointer-events: none;
}
#nprogress .bar[data-v-6a8f29bb] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-6a8f29bb] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-6a8f29bb] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-6a8f29bb] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-6a8f29bb 400ms linear infinite;
  animation: nprogress-spinner-6a8f29bb 400ms linear infinite;
}
.nprogress-custom-parent[data-v-6a8f29bb] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-6a8f29bb],
.nprogress-custom-parent #nprogress .bar[data-v-6a8f29bb] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-6a8f29bb {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-6a8f29bb {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
.title-progress[data-v-6a8f29bb] {
  margin-left: 10px;
  width: 150px;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-30bb0bbf] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-30bb0bbf] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-30bb0bbf]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-30bb0bbf]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-30bb0bbf]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-30bb0bbf]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-30bb0bbf] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-30bb0bbf] {
  pointer-events: none;
}
#nprogress .bar[data-v-30bb0bbf] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-30bb0bbf] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-30bb0bbf] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-30bb0bbf] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-30bb0bbf 400ms linear infinite;
  animation: nprogress-spinner-30bb0bbf 400ms linear infinite;
}
.nprogress-custom-parent[data-v-30bb0bbf] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-30bb0bbf],
.nprogress-custom-parent #nprogress .bar[data-v-30bb0bbf] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-30bb0bbf {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-30bb0bbf {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
.selector-item[data-v-30bb0bbf]:hover {
  font-weight: bold;
  border-left: 2px solid #00adef;
}
.selector-item.disabled[data-v-30bb0bbf] {
  pointer-events: none;
  cursor: no-drop;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.selector-item[data-v-30bb0bbf] {
  cursor: pointer;
  text-align: center;
  position: relative;
}
.card-avatar[data-v-30bb0bbf] {
  width: 40px;
  height: 40px;
  fill: #00adef;
  border-radius: 0;
}
.card-selector-title[data-v-30bb0bbf] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 10px;
}
.CheckOutlined[data-v-30bb0bbf] {
  color: #25b899;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-2183b5b1] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-2183b5b1] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-2183b5b1]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-2183b5b1]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-2183b5b1]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-2183b5b1]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-2183b5b1] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-2183b5b1] {
  pointer-events: none;
}
#nprogress .bar[data-v-2183b5b1] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-2183b5b1] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-2183b5b1] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-2183b5b1] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-2183b5b1 400ms linear infinite;
  animation: nprogress-spinner-2183b5b1 400ms linear infinite;
}
.nprogress-custom-parent[data-v-2183b5b1] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-2183b5b1],
.nprogress-custom-parent #nprogress .bar[data-v-2183b5b1] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-2183b5b1 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-2183b5b1 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
[data-v-2183b5b1] .page-header {
  padding-bottom: 0;
}
.search-content .content[data-v-2183b5b1] {
  zoom: 1;
  margin-top: 16px;
}
.search-content .content[data-v-2183b5b1]:before,
.search-content .content[data-v-2183b5b1]:after {
  content: " ";
  display: table;
}
.search-content .content[data-v-2183b5b1]:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.search-content .content > div[data-v-2183b5b1] {
  position: relative;
  text-align: left;
  float: left;
  width: 33%;
}
.search-content .content > div p[data-v-2183b5b1] {
  line-height: 32px;
  font-size: 24px;
  text-align: center;
  margin: 0;
}
.search-content .content > div p[data-v-2183b5b1]:first-child {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 4px;
}
.mini-linedata[data-v-2183b5b1] {
  border-bottom: 1px dashed #ddd;
  padding-bottom: 15px;
  position: relative;
}
.mini-linedata .close[data-v-2183b5b1] {
  position: absolute;
  right: 0px;
  color: #ddd;
  top: 5px;
  display: none;
  cursor: pointer;
}
.mini-linedata:hover .close[data-v-2183b5b1] {
  display: block;
}
.ApiOutlined[data-v-2183b5b1] {
  font-size: 14px;
}
.click-icon[data-v-2183b5b1] {
  position: absolute;
  right: 15px;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.week-mode[data-v-48fae630] {
  overflow: hidden;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}
.beauty-scroll[data-v-48fae630] {
  scrollbar-color: #00adef #a3f1ff;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
}
.beauty-scroll[data-v-48fae630]::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.beauty-scroll[data-v-48fae630]::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00adef;
}
.beauty-scroll[data-v-48fae630]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  background: #7ae7ff;
}
.split-right[data-v-48fae630]:not(:last-child) {
  border-right: 1px solid rgba(98, 98, 98, 0.2);
}
.disabled[data-v-48fae630] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
/* Make clicks pass-through */
#nprogress[data-v-48fae630] {
  pointer-events: none;
}
#nprogress .bar[data-v-48fae630] {
  background: #00adef;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg[data-v-48fae630] {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
          box-shadow: 0 0 10px #00adef, 0 0 5px #00adef;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner[data-v-48fae630] {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon[data-v-48fae630] {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00adef;
  border-left-color: #00adef;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner-48fae630 400ms linear infinite;
  animation: nprogress-spinner-48fae630 400ms linear infinite;
}
.nprogress-custom-parent[data-v-48fae630] {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner[data-v-48fae630],
.nprogress-custom-parent #nprogress .bar[data-v-48fae630] {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner-48fae630 {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nprogress-spinner-48fae630 {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
[data-v-48fae630] .page-header {
  padding-bottom: 0;
}

